html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #a6a6c2;
}

body {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #a6a6c2;
    border-top: 1px solid black;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#titre_tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
    border-radius: 40px;
    margin: 20px 40px;
}

#hr_index{
    align-items: center;
    width: 90%;
}

.fond_hover:hover{
    background-color: #e0e0e8;
}

nav > a, footer > a, footer > div > a {
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
}

nav > a:visited, footer > a:visited, footer > div > a:visited {
    color: black;
}

header > nav > a:hover, footer > a:hover, footer > div > a:hover {
    background-color: rgb(150, 205, 250);
    border-radius: 20px;
    transition: 0.15s;
}

header > nav > div > a:focus, footer > a:focus, footer > div > a:hover {
    background-color: rgb(150, 205, 250);
    border-radius: 5px;
    border: none;
}

nav {
    display: flex;
    flex-direction: row;
}

#nav2 {
    justify-content: right;
}

#image1 {
    height: 100px;
    width: 100px;
    margin-left: 10px;
}

#image2 {
    height: 70px;
    width: 150px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    background-color: lavender;
    border: 1px solid lavender;
}

footer {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #a6a6c2;
}

#languages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#languages > a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#languages > a > img {
    height: 20px;
}

#fr_flag {
    margin-left: 10px;
}

#en_flag {
    margin-right: 10px;
}

main {
    padding: 10px
}

#main_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: lavender;
    border-radius: 40px;
    margin: 20px 40px;
}

#texte_explicatif {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45em;
    font-size: 20px;
}

#video_explicative {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

#video_explicative > #iframe{
    width: 100%;
    max-width: 560px;
    border: none;
}

#derniers_tickets {
    align-self: center;
    margin: 30px;
    background-color: white;
}

#profile_part1 {
    display: flex;
    flex-direction: row;
}

#img_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
    border-radius: 40px;
    padding: 50px;
}

#information {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#info_perso {
    display: flex;
    flex-direction: column;
}

#choisir_image{
    border: solid black 1px;
    padding: 20px;
    border-radius: 40px;
}

#profile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.submit_buttons:hover {
    background-color: #4CAF50;
    transition: 0.2s;
}

#account_sup:hover, .nice_button:hover {
    background-color: rgb(226, 226, 226);
    transition: 0.2s;
}

.nice_button, #account_sup {
    background-color: rgb(226, 226, 226);
    padding: 5px;
    font-size: 16px;
}

#account_sup {
    min-width: 60%;
    padding: 10px;
}

.reset_buttons:hover {
    background-color: rgb(226, 226, 226);
    transition: 0.3s;
}

.reset_buttons, .submit_buttons, #account_sup, .nice_button {
    background-color: #fff;
    border: solid black 1px;
    border-radius: 4px;
    cursor: pointer;
}

.reset_buttons, .submit_buttons {
    font-size: 16px;
    min-width: 35%;
}

.form_containers {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}

.tech_view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

#scroll_table {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    margin: auto;
    max-height: 700px;
    width: 80%;
    position: relative;
    table-layout: fixed;
}

#tech_table {
    width: 100%;
    border-collapse: collapse;
}

#tech_table > tbody > tr > td {
    overflow: auto;
    width: 40%;
    word-wrap:break-word;
}

.short_cell {
    width: 20%;
}

.resetSubmitButtons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resetSubmitButtons > input {
    padding: 8px;
}

.sign_up {
    width: 50%;
    border: solid black 1px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
    border-radius: 40px;
    border: lavender;
}

.log_in{
    width: 30%;
    background-color: lavender;
    border-radius: 40px;
    padding: 20px;
}

.user_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: lavender;
    border-radius: 40px;
    padding: 50px;
}

.form_group{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-bottom: 3%;
    margin-right: 40%;
    width: 170%;
}

#login, #name, #f_name, #pwd, #conf_pwd{
    width: 63%;
}

.captcha_group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.captcha_group > input{
    width: 40%;
}

.user_info > input{
    min-width: 80%;
}

.form_group2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_group2 > input{
    width: 60%;
}

table {
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    border: 2px solid black;
}

tr {
    border: 1px solid black;
    height: 45px;
}

tr:has(th) {
    border: 2px solid black;
}

th {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#details_button {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    width: 10%;
    min-width: 150px;
    margin-left: 10px;
}

#details_button > form > input {
    height: 35px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 120px;
}

#details_button > form > input:hover {
    background-color: rgb(226, 226, 226);
    transition: 0.2s;
}

#ticket_table {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: lavender;
    border-radius: 40px;
    padding: 70px 0 70px 30px;
    margin: 0 75px;
}

#part_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 20px;
}

#part_top > button {
    height: 35px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20%;
}

#key_buttons > input {
    height: 35px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20%;
}

#ticket_buttons > input {
    height: 35px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 10%;
}

#part_top > button:hover {
    background-color: rgb(226, 226, 226);
    transition: 0.2s;
}

#ticket_buttons > input:hover {
    background-color: rgb(226, 226, 226);
    transition: 0.2s;
}

#ticket_buttons > #ticket_sub:hover, #key_sub:hover {
    background-color: #45a049;
    transition: 0.2s;
}

#key_reset:hover{
    background-color: rgb(226, 226, 226);
}

.ticket_case_1 {
    background: linear-gradient(to bottom right, rgb(226, 226, 226),rgb(80, 200, 80));
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-weight: bold;
}

.ticket_case_2 {
    background: linear-gradient(to bottom right, rgb(226, 226, 226),rgb(255, 240, 32));
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-weight: bold;
}

.ticket_case_3 {
    background: linear-gradient(to bottom right, rgb(226, 226, 226),rgb(253, 147, 60));
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-weight: bold;
}

.ticket_case_4 {
    background: linear-gradient(to bottom right, rgb(226, 226, 226),rgb(255, 39, 39));
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-weight: bold;
}

#ticket_about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#ticket_details {
    min-width: 25%;
}

#ticket_details > p, #ticket_details > .resetSubmitDetails > input  {
    margin-left: 25px;
}

#ticket_description {
    border: 1px solid black;
    padding: 1%;
    width: 50%;
}

#ticket_description > h3 {
    font-size: 30px;
    margin-top: 10px;
}

#ticket_description > p {
    min-height: 150px;
    font-size: 25px;
}

#ticket_details > p {
    font-size: 20px;
}

#contact_containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 75px 0px 75px;
    background: lavender;
    border-radius: 40px;
    padding: 50px;
}

.contact_text{
    font-size: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact_text > p > a {
    font-weight: bold;
}

.contact_text > a > img{
    width: 150px;
    margin: 30px;
    border-radius: 100px;
}

.contact_text > a > img:hover {
    background-color: #a6a6c2;
    transition: 0.3s;
}

.link_on_page {
    color: #18272F;
    position: relative;
    text-decoration: none;
}
  
.link_on_page::before {
    content: '';
    position:absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.link_on_page:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#ticket_label, #key_label{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-top: 5px;
}

#ticket_label > label, #key_label > label{
    width:100%;
    height: 35px;
    text-align: right;
    margin: 0px;
    margin-top: 3px;
    margin-bottom: 15px;
    padding: 0px;
}

#ticket_input, #key_input {
    display: flex;
    flex-direction: column;
}

#ticket_input > input, #ticket_input > select, #key_input > input, #key_input > select {
    height: 35px;
    margin: 0px;
    font-size: 16px;
    margin-bottom: 18px;
}

#ticket_creation, #key_change {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

#descriptionPrbl {
    height: 80%;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    resize:none;
}

#ticket_form, #key_form {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 25%;
    padding-top: 1%;
}

#key_form {
    padding-top: 3%;
    padding-bottom: 3%;
}

#ticket_buttons, #key_buttons {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#salle, #niveauUrgence {
    width: 25%;
    text-align: center;
}

#description_prbl_modification_page {
    font-size: 20pt;
    resize: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1%;
}

#form_modification_ticket{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
}

#texte_explicatif_info_actuel{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 110%;
    justify-content: space-around;
}

#form_valeur_actuelle_valeur_a_modifier{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#modification_ticket_valeur_actuelle > div{
    margin-top: 15px;
 }

#modification_ticket_valeur_actuelle > div{
    display: flex;
    flex-direction: row;
}

#modification_ticket_valeur_a_modifier {
    display: flex;
    flex-direction: column;
    align-items: end;
}

#modification_ticket_valeur_a_modifier > .modif_form_input{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    margin-right: 20px;
}

#modification_ticket_valeur_a_modifier > .modif_form_input > input, #modification_ticket_valeur_a_modifier > .modif_form_input > select{
    width: 230px;
    height: 35px;
    margin: 5px;
    margin-right: 0px;
}

#form_modification_ticket{
    background-color: lavender;
    border-radius: 40px;
    padding: 30px;
    width: 60%;
    margin: 0 auto;
}

#form_modification_ticket > div > .reset_buttons, #form_modification_ticket > div > .submit_buttons{
    width: 200%;
    margin-top: 40px;
}

.submit_buttons:disabled{
    background-color: rgb(226, 226, 226);
}

.activity_log_parts{
    text-align: center;
    margin-top: 60px;
}

#activity_log_page{
    background-color: lavender;
    border-radius: 40px;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 1px;
    margin-top: 40px;
}

.stat_part{
    text-align: center; /* Centre le contenu horizontalement */
    margin-top: 20px;
    margin-bottom: 20px;
}

#stat_frame{
    width: 80%;
    height: 700px;
    border: 2px solid black;
}

#scrollable-table {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin: auto;
    position: relative;
    width: 80%;
}

#ticket_log_table {
    width: 100%;
    border-collapse: collapse;
}

table{
    background-color: white;
}

.ticketPageError > p{
    color: red;
}

.ticketPageError{
    display: flex;
    justify-content: center;
}

#profile {
    margin-top: 60px;
}

.success > p{
    color: blue;
    border: 1px solid blue;
    font-weight: bold;
    padding: 5px;
}

.error > p{
    color: red;
    background-color: white;
    border: 1px solid red;
    font-weight: bold;
    padding: 5px;
}

.success, .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#formSupAccount{
    display: none;
}

#construction_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#construction_container > h1 {
    font-size: 80px;
    margin-bottom: 0px;
    color: red;

}

#construction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 50%;
}

#construction_text > p {
    font-size: 40px;
    line-height: 120%;
}

#construction_link {
    margin-bottom: 15px;
}

.hidden_label {
    visibility:hidden;
    height: 0px;
    width: 0px;
}

.change_passwd_form{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#tooltip {
    position: relative;
    padding-bottom: 20px;
}

#tooltip > #tooltiptext {
    visibility: hidden;
    width: 50%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 35%;
}

#tooltip > #tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

#tooltip:hover #tooltiptext {
    visibility: visible;
}
