# Fichiers cache des IDE
.idea/
.vscode/

# Fichiers cache d'image windows
Thumbs.db

# Fichiers temporaires de LaTeX
*.aux
*.fls
*.log
*.fdb_latexmk
*.toc
*.synctex.gz
*.synctex(busy)
*.pyg
*.out

# Fichiers contenant des informations sensibles
security/

# Fichiers cache de phpDocumentor
.phpdoc