html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #cffdff;
    padding: 2%;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(200, 250, 220);
}

a {
    padding: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    background-color: rgb(150, 180, 250);
    transition: 0.5s;
}

#nav1,#nav2{
    display: flex;
    flex-direction: row;
}

#nav1 {
    justify-content: left;
}

#nav2 {
    justify-content: right;
}

#image1 {
    height: 30%;
    width: 30%;
}

#image2 {
    height: 30%;
    width: 30%;
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(200, 250, 220);
}

main {
    padding-bottom: 3%;
    padding-top: 3%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.reset_buttons:hover, .submit_buttons:hover{
    background-color: #45a049;
}

.reset_buttons, .submit_buttons{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 35%;
}

.form_containers{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.resetSubmitButtons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sign_up {
    width: 50%;
    border: solid black 1px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log_in{
    width: 30%;
}

.user_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.form_group{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-bottom: 3%;
    margin-right: 40%;
    width: 170%;
}

#login, #name, #f_name, #pwd, #conf_pwd{
    width: 63%;
}

.captcha_group{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.captcha_group > input{
    width: 40%;
}


table {
    border-collapse: collapse;
    width: 80%;
    text-align: center;
    border: 2px solid black;
}

tr {
    border: 1px solid black;
    height: 45px;
}

tr:has(th) {
    border: 2px solid black;
}

th {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#details_button {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    margin-left: 10px;
}

#details_button > button {
    height: 35px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 150%;
}

#details_button > button:hover {
    background-color: rgb(226, 226, 226);
}

#ticket_table {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#ticket_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 20px;
}

#ticket_top > button {
    height: 35px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20%;
}

#ticket_top > button:hover {
    background-color: rgb(226, 226, 226);
}

#ticket_case_1 {
    background: linear-gradient(to bottom right, rgb(226, 226, 226),rgb(80, 200, 80));
    border-right: 1px solid black;
}

#ticket_case_2 {
    background: linear-gradient(to bottom right, rgb(226, 226, 226),rgb(228, 78, 78));
    border-right: 1px solid black;
}